/*css 초기화 start*/
@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
ul, ol, dl, dd,
p,
fieldset, legend {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button {
    font-size: 14px;
    font-family: NanumGothic, "나눔 고딕", Dotum, "돋움", sans-serif;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

em {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

fieldset {
    border: 0;
}
/*css 초기화 end*/

/*공통*/
.common_title{
    border:none;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bolder;
}
.common_back{
    font-size:50px;
    text-decoration-line: none;
    color:black;
}

/*main css*/
.main_container {
    padding-top:50px;
    margin:0 50px;
}
.mainImg {
    width:150px;
    height: 150px;
    display: block;
    margin: 0px auto;
    padding:20px;
}
.mainTitle {
    text-align:center;
}
.mainText {
    padding:30px 0;
    text-align:center;
}
.mainButtonArea{
    margin-top:40px;
    text-align: center;
}

.startButton{
    height:50px;
    font-size:20px;
    width:100%;
    padding:10px;
    border-radius:5px;
    display: block;
    background-color: #FE9A2E;
    color:white;
    border:none;
    cursor:pointer;
    text-align:center;
    margin-top: 20px;
}
.startButtonText{
    padding:10px 0;
}
.startLoginButton{
    color:#FE9A2E;
    text-decoration-line: none;
}

/*login css*/
.login_container{
    padding-top:50px;
    margin:0 50px;
}
.login_box{
    margin:10px 0;
}
.login_label{
    font-size: 25px;
    font-weight: bolder;
}
.loginText{
    width:100%;
    height: 50px;
    margin-top:10px;
}
.loginButton{
    height:50px;
    font-size:20px;
    width:100%;
    padding:10px;
    border-radius:5px;
    display: block;
    background-color: #FE9A2E;
    color:white;
    border:none;
    cursor:pointer;
    text-align:center;
    margin-top: 20px;
}
.pwSearchButton{
    color: #FE9A2E;
    text-decoration-line: none;
}
.loginButtonArea{
    text-align: center;
}
.pwSearchQuestion{
    padding:10px 0;
    text-align: center;
}

/*memberJoin css*/
.member_join_container{
    padding-top:50px;
    margin:0 50px;
}
.member_join_box{
    margin:10px 0;
}
.member_join_label{
    font-size: 25px;
    font-weight: bolder;
}
.member_join_text{
    width:100%;
    height: 50px;
    margin-top:10px;
}
.member_join_btn{
    height:50px;
    font-size:20px;
    width:100%;
    padding:10px;
    border-radius:5px;
    display: block;
    background-color: #FE9A2E;
    color:white;
    border:none;
    cursor:pointer;
    text-align:center;
    margin-top: 20px;
}


/*productList css*/
.list_search_area{
    height:130px;

}
.product_list_container{
    padding-top:50px;
    margin:0 50px;
}
.product_list_search{
    width:88%;
    height:100px;
    border:none;
    float:left;
    border-bottom:1px solid black;
    font-size:50px;
}
.searchImg{
    width:100px;
    height:100px;
    float:left;
}
.productListArea{
    /*width:100%;
    height: 100px;
    position:relative;*/
    border-bottom:1px solid black;
    padding-bottom:10px;
    border-top:1px solid black;
}
.productImg{
    width: 30%;
    height: 100%;
}
.productDetail{
    width:70%;
    height:100%;
}

.productListArea ::after{
    display:block;
    clear:both;
    content:'';
}

/* productRegistration css */
.registration_container {
    padding-top:50px;
    margin:0 50px;
}
.registration_box{
    margin:10px 0;
    border-bottom:1px solid black;
}
.registration_text{
    border:none;
    width:100%;
    height: 50px;
    margin-top:10px;
    background-color: white;
    font-size:25px;
}
.registration_text_detail {
    margin:10px 0;
    width:100%;
    height: 500px;
    margin-top:10px;
    font-size:25px;
    border: none;
}
.image_container {
    width:100%;
    height:170px;
    border:1px solid black;
}
.image_value{
    width:100px;
    height:100px;
    display: block;
    float:left;
}
.product_save_button{
    height:50px;
    font-size:20px;
    width:100%;
    padding:10px;
    border-radius:5px;
    display: block;
    background-color: #FE9A2E;
    color:white;
    border:none;
    cursor:pointer;
    text-align:center;
    margin-top: 20px;
}


.test ::after,
.test2 ::after{
    display: block;
    clear: both;
    content: '';
}


