<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <script th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <div class="login_container">
        <div>
            <input type="text" class="common_title" value="로그인" />
        </div>
        <form th:action="login" method="post" id="login_action" onsubmit="return formCheck()" >
            <div class="login_box_area">
                <div class="login_box">
                    <label for="login_id" class="login_label">이메일(ID)</label><br>
                    <input type="text" class="loginText" id="login_id" name="login_id">
                </div>
                <div class="login_box">
                    <label for="login_pw" class="login_label">비밀번호(PW)</label><br>
                    <input type="text" class="loginText" id="login_pw" name="login_pw">
                </div>
            </div>
            <div class="login_error" id="login_error">일치하는 정보가 없습니다.</div>
            <div class="button_area">
                <button type="submit" class="loginButton" id="login_btn">로그인</button>
                <input type="text" class="pwSearchQuestion" value="비밀번호를 잊어버리셨나요?"><a href="#" class="pwSearchButton">비밀번호찾기</a>
            </div>
        </form>
    </div>
</main>

</body>
</html>