<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지영당근마켓</title>
  <!--<script th:src="@{/js/main.js}"></script>-->
  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<main>
  <div class="main_container">
    <div>
      <img src="img/mainCarrot.png" class="mainImg" >
    </div>
    <div>
      <h2 class="mainTitle">당신 근처의 Karrot 마켓</h2>
      <h3 class="mainText">이제 내 동네에서 <br> 간편하게 중고거래하자</h3>
    </div>
    <div class="mainButtonArea">
      <button type="button" class="startButton" onClick="location.href='member-join'">시작하기</button>
      <input type="text" class="startButtonText" value="이미 계정이 있나요?"><a href="login" class="startLoginButton">로그인</a>
    </div>
  </div>
</main>



</body>
</html>