<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="" style="margin-left:20px; margin-right: 20px;">
    <article>
        <h2 class=""><a href="" style="text-decoration-line: none; color:black;">← </a>판매상품 보기</h2>
    </article>
    <article style="width:100%; height: 50px;">
        <input type="button" value="전체" style="border:0px; width:30%; color:grey; background-color:transparent; font-size:20px; cursor:pointer;">
        <input type="button" value="판매중" style="border:0px; width:30%; color:grey; background-color:transparent; font-size:20px; cursor:pointer;">
        <input type="button" value="거래완료" style="border:0px; width:33%; color:grey; background-color:transparent; font-size:20px; cursor:pointer;">
    </article>
    <hr>
    <article style="background-color:yellowgreen; width:100%; height: 100px;">
        <div style="background-color: green; width: 30%; height: 100%; float: left;">
            img
        </div>
        <div>
            detail
        </div>
    </article>
    <hr>
    <article style="background-color:yellowgreen; width:100%; height: 100px;">
        <div style="background-color: green; width: 30%; height: 100%; float: left;">
            img
        </div>
        <div>
            detail
        </div>
    </article>
</section>
</body>
</html>