<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고상품 상세페이지</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="datail_container">
    <div>
        <input type="text" class="detail_title" value="← HOME" />
    </div>
    <div class="detail_img" >
        <!--상품 사진 -->
    </div>
    <div class="profile_area">
        <div class="profile_img_area" >
            <!--프로필-->
            <img src="img/myProfile.png" class="profile_img" >
        </div>
        <div class="profile_text_area" >
            <input type="text" class="profile_text" value="닉네임"/>
        </div>
    </div>
    <hr>
    <div>
        <div class="product_detail_area_1" >
            <input type="text" value="제목" class="product_detail_text_1" >
            <input type="text" value="가격" class="product_detail_text_1">
        </div>
        <div class="product_detail_area_1">
            <input type="text" value="카테고리" class="product_detail_text_1">
            <input type="text" value="게시시간" class="product_detail_text_1">
        </div>
        <div class="product_detail_area_2" >
            <input type="text" value="본문" class="product_detail_text_2">
        </div>
    </div>

    <div class="product_list_title_area" >
        <div class="product_list_title">
            닉네임님의 판매상품
        </div>
        <div class="product_list_title_all" >
            <a class="product_list_title_text" href="">모두보기</a>
        </div>
    </div>
    <div class="product_list_area">
         <div class="product_list" >
             <img src="" alt="" class="product_list_img" >
             <input type="text" class="product_list_text" value="제목">
             <input type="text" class="product_list_text" value="가격">
         </div>
         <div class="product_list" >
            <img src="" alt="" class="product_list_img" >
            <input type="text" class="product_list_text" value="제목">
            <input type="text" class="product_list_text" value="가격">
        </div>
        <div class="product_list" >
            <img src="" alt="" class="product_list_img" >
            <input type="text" class="product_list_text" value="제목">
            <input type="text" class="product_list_text" value="가격">
        </div>
        <div class="product_list" >
            <img src="" alt="" class="product_list_img" >
            <input type="text" class="product_list_text" value="제목">
            <input type="text" class="product_list_text" value="가격">
        </div>
     </div>
</div>
    <footer class="common_bottom" >
        <img src="img/like.png" class="button_like" >
        <img src="img/comment.png" class="button_comment" >
        <input type="button" class="button_small_1" value="댓글 보기" onclick=""; >
        <input type="button" class="button_small_2" value="댓글 남기기" onclick=""; >
    </footer>
</body>
</html>