<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="product_list_container">
        <div class="list_search_area">
            <input type="text" class="product_list_search" value="개발자님 동네" >
            <img src="img/search.png" class="searchImg" >
        </div>

        <div class="productListArea" >
            <div class="productImg">
                <img src="" alt="" class="product_img">
            </div>
            <div class="productDetail">
                <input type="text" value="제목" class="product_detail_text" readonly>
                <input type="text" value="장소" class="product_detail_text" readonly>
                <input type="text" value="가격" class="product_detail_text" readonly>
                <input type="text" value="좋아요/댓글 표시란" class="product_detail_text" readonly>
            </div>
        </div>
        <div class="productListArea" >
            <div class="productImg">
                <img src="" alt="" class="product_img">
            </div>
            <div class="productDetail">
                <input type="text" value="제목" class="product_detail_text" readonly>
                <input type="text" value="장소" class="product_detail_text" readonly>
                <input type="text" value="가격" class="product_detail_text" readonly>
                <input type="text" value="좋아요/댓글 표시란" class="product_detail_text" readonly>
            </div>
        </div>
        <div class="productListArea" >
            <div class="productImg">
                <img src="" alt="" class="product_img">
            </div>
            <div class="productDetail">
                <input type="text" value="제목" class="product_detail_text" readonly>
                <input type="text" value="장소" class="product_detail_text" readonly>
                <input type="text" value="가격" class="product_detail_text" readonly>
                <input type="text" value="좋아요/댓글 표시란" class="product_detail_text" readonly>
            </div>
        </div>
        <div class="productListArea" >
            <div class="productImg">
                <img src="" alt="" class="product_img">
            </div>
            <div class="productDetail">
                <input type="text" value="제목" class="product_detail_text" readonly>
                <input type="text" value="장소" class="product_detail_text" readonly>
                <input type="text" value="가격" class="product_detail_text" readonly>
                <input type="text" value="좋아요/댓글 표시란" class="product_detail_text" readonly>
            </div>
        </div>
    </div>

    <footer class="common_bottom" >
        <div class="common_bottom_home" onclick="location.href ='main'" >
            <img src="img/home.png" alt="home" class="common_home_img_btn" >
            <input type="text" value="홈" class="common_button_home_text" >
        </div>
        <div class="common_bottom_mypage" onclick="location.href =''" >
            <img src="img/myPage.png" alt="myPage" class="common_mypage_img_btn" >
            <input type="text" value="나의 당근" class="common_button_mypage_text" >
        </div>
    </footer>
</body>
</html>