<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/productRegistration.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="registration_container" >
    <form action="" id="form">
        <div>
            <a href="" class="common_back">← </a>
            <input type="text" class="common_title" value="중고거래 글쓰기" />
        </div>
        <div style="width:100%; height: 200px;">
            <input type="file" id="image" name="img" accept="image/*" onchange="setThumbnail(event);" multiple />
           <!-- <input type="file" id="product_img" name="img" accept="image/*" onchange="setThumbnail(event);" />-->
            <div class="image_container"></div>
            <!--상품 사진 등록-->
        </div>
        <!--상품 설명-->
        <div class="registration_box">
            <input type="text" class="registration_text" id="product_name" name="product_name" placeholder="제목"/>
        </div>
        <div class="registration_box">
            <select class="registration_text" id="category_name" name="category_name" >
                <option value="" selected="selected">카테고리</option>
                <option value="의류">의류</option>
                <option value="식품">식품</option>
            </select>
        </div>
        <div class="registration_box">
            <input type="text" class="registration_text" id="product_price" name="product_price" placeholder="가격" />
        </div>
        <div>
            <input type="text" class="registration_text_detail" id="product_detail" name="product_detail" placeholder="게시글 내용을 작성해주세요. 가짜 품목 및 판매금지품목은 게시가 제한됩니다."/>
        </div>
        <button type="submit" class="product_save_button" id="product_save_button">완료</button>
    </form>
</div>
</body>
</html>